body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
  margin: 0;
  font-family: Arial, sans-serif;
}
.stopwatch {
  text-align: center;
  background: burlywood;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.display {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}
.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
.laps {
  margin-top: 20px;
  color: white;
}
.laps ul {
  list-style: none;
  padding: 0;
}
.laps li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}
button{
  border-radius: 30px;
  border: 2.5px;
  border-style: solid;
  border-color: palevioletred;
  background: lightsteelblue;
}